@model CVManager.DTO.CvDetailWithDegreesDto

<div class="form-group" id="fg-file-upload">
    <div>
        CV document
    </div>
    <div class="ptb file-upload">
        <input class="file-upload__file" id="FileUpload" type="file" name="File" />
        <button class="file-upload__cancel" id="CancelFileUpload">Clear</button>
    </div>
</div>
